NEXT_PUBLIC_C2D_CONTRACT_ADDRESS=0x95E5f04875b2dbA71e8044349f8933411298B6D9
NEXT_PUBLIC_CONTRACT_ADDRESS=0x95E5f04875b2dbA71e8044349f8933411298B6D9
NEXT_PUBLIC_STUDIONET_RPC=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_CHAIN_ID=61997
NEXT_PUBLIC_STUDIONET_EXPLORER=https://explorer-studio-dev.genlayer.com
