NEXT_PUBLIC_C2D_CONTRACT_ADDRESS=0x56d484AAe50070BE82CcB6F888E8fC51124C2EDd
NEXT_PUBLIC_CONTRACT_ADDRESS=0x56d484AAe50070BE82CcB6F888E8fC51124C2EDd
NEXT_PUBLIC_STUDIONET_RPC=https://studio.genlayer.com/api
NEXT_PUBLIC_CHAIN_ID=61999
NEXT_PUBLIC_STUDIONET_EXPLORER=https://explorer-studio.genlayer.com
